@import "vars"
@import "media"
@import "fonts"

$breakpoint: 1000

*, *::after, *::before
  box-sizing: border-box
  margin: 0
  padding: 0

ul
  list-style: none
  margin: 0

a
  text-decoration: none
  color: $text-color

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

body
  overflow-x: hidden

.closed
  display: none
  @include media-min($breakpoint)
      display: block
/*--------------------TEXT----------------------------------*/
h2
  margin-bottom: 10px
  font-family: 'Martel'
  font-style: normal
  font-weight: 700
  font-size: 40px
  line-height: 50px
  letter-spacing: 0.2px
  color: $text-color            

  @include media-min($breakpoint)
    width: 374px
    margin: 0 auto
    margin-bottom: 10px

h3
  font-family: 'Martel'
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 32px
  letter-spacing: 0.1px
  color: $text-color      

h5 
  font-family: 'Martel'
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  letter-spacing: 0.1px
  color: $text-color

h6
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 700
  font-size: 14px
  line-height: 24px
  letter-spacing: 0.2px
  color: $second-text-color

p 
  margin-bottom: 75px
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.2px
  color: $second-text-color

  @include media-min($breakpoint)
    width: 431px
    padding: 0
    margin: 0 auto
    margin-bottom: 80px

/*-----------------HEADER-------------------------------*/
.page-header
  display: grid
  align-items: center
  grid-template-columns: 104px auto 72px 56px
  padding: 35px
  color: $text-color
  box-sizing: border-box

  @include media-min($breakpoint)
    grid-template-columns: 104px minmax(20px, auto) 279px 96px minmax(20px, 164px)
    position: absolute
    z-index: 11
    width: 100%
    max-width: 1322px
    margin-left: 196px
    padding: 0
    padding-top: 35px
    padding-right: 256px

    @include media-min(1443)
      margin-left: 50%
      transform: translateX(-50%)
    
  h3
    font-family: 'Martel'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.1px

  &__menu-btn
    justify-self: end
    grid-column: 4/5
    font: 0/0 serif
    width: 23px
    height: 14px
    display: block
    background: url(../images/icons/menu.svg)

    @include media-min($breakpoint)
      grid-column: 5/6
 
  .icons
    display: flex
    align-items: center
    justify-content: space-between
    grid-column: 3/4

    @include media-min($breakpoint)
      grid-column: 4/5
      justify-content: flex-end
    
    .cart
      width: 23px
      height: 23px
      background: url(../images/icons/cart.svg)
    
    .search
      width: 24px
      height: 24px
      background: url(../images/icons/search.svg)
      
      @include media-min($breakpoint)
        margin-right: 22px
    
    &__item
      display: block
      font: 0/0 serif

  .nav
    grid-column: 1/-1
    margin-top: 80px
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    font-size: 30px
    line-height: 45px
    text-align: center
    letter-spacing: 0.2px
    color: $second-text-color
    z-index: 10

    @include media-min($breakpoint)
      grid-column: 3/4
      grid-row: 1/2
      margin-top: 0
      font-weight: 600
      font-size: 14px
      line-height: 24px

    &__item
      display: block
      text-align: center

      @include media-min($breakpoint)
        display: inline

      &:not(:last-child)
        margin-bottom: 30px
    
        @include media-min($breakpoint)
          margin-bottom: 0
          margin-right: 22px

/*-------------------MAIN BLOCK--------------------------------*/

.main-block
  padding-top: 84px 
  width: 100%
  background: url(../images/cover.png) no-repeat center
  background-size: cover
  text-align: center

  @include media-max($breakpoint)
    padding-bottom: 21px

  @include media-min($breakpoint)
    display: grid
    grid-template-columns: repeat(2, minmax(470px, 509px)) 
    justify-items: left
    column-gap: 2px
    padding-left: 196px
    padding-right: 196px

  &__information
    padding: 0 19px

    @include media-min($breakpoint)
      padding: 0
      text-align: left
      align-self: center


    h1
      max-width: 350px 
      font-family: 'Matrel'
      font-style: normal
      font-weight: 700
      font-size: 40px
      line-height: 50px
      letter-spacing: 0.2px
      color: $text-color
      margin: 0 auto
      margin-bottom: 35px
      padding: 0 26px

      @include media-min($breakpoint)
        max-width: 100%
        padding: 0
        margin: 0
        margin-bottom: 35px
        font-weight: 900
        font-size: 58px
        line-height: 65px

        br
          display: none

    h4
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 500
      font-size: 20px
      line-height: 30px
      letter-spacing: 0.2px
      color: $second-text-color
      max-width: 376px
      margin: 0 auto
      margin-bottom: 35px

      @include media-min($breakpoint)
        padding: 0
        margin: 0
        margin-bottom: 35px

  .information__buttons
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 108px

      @include media-min($breakpoint)
        flex-direction: row
        justify-content: flex-start
        margin: 0

      .get-quote
        font-family: 'Open Sans'
        font-style: normal
        font-weight: 700
        font-size: 14px
        line-height: 28px
        letter-spacing: 0.2px
        color: $light-text-color
        padding: 10px 36px
        margin-bottom: 30px
        border-radius: 37px
        background: $secondary-color-2  

        @include media-min($breakpoint)
          margin: 0
          margin-right: 10px 
      
      .learn-more
        font-family: 'Open Sans'
        font-style: normal
        font-weight: 700
        font-size: 14px
        line-height: 28px
        letter-spacing: 0.2px
        color: $secondary-color-2
        padding: 10px 36px
        border-radius: 37px
        border: 1px solid $secondary-color-2
        background: none
  
  .agent
    width: 377px

    @include media-min($breakpoint)
      width: 509px

/*----------------PRACTICE-----------------------------*/

.practice
  width: 330px
  text-align: center
  margin: 0 auto
  padding: 145px 43px
  padding-bottom: 100px

  @include media-min(570)
    width: 430px
    padding: 145px 0
  
  @include media-min($breakpoint)
    width: min(1050px, 100%)
    margin: 0 auto

/*----------------PRACTICE AREAS-----------------------------*/

.practice-areas
  &__categories
    @include media-min($breakpoint)
      display: flex
      justify-content: space-between

    li
      border-radius: 5px
      background: #f9f9f9
      padding: 30px 40px
      box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07)
      color: $text-color
        
      @include media-min($breakpoint)
        width: 329px

      img
        margin-bottom: 10px

      &:nth-child(2)
        background: $secondary-color-4
        h5
          color: $light-text-color

      &:not(last-child)
        margin-bottom: 30px
        @include media-min($breakpoint)
          margin-bottom: 0
          margin-right: 30px

/*----------------------PRACTICE ADVICE-------------------------------*/
.practice-advice
  background: #f3f3f3

  .practice
    @include media-min(570)
      @include media-max($breakpoint - 1)
        width: 510px

  @include media-min($breakpoint)
    p
      margin-bottom: 45px
  
  &__categories
    display: flex
    flex-direction: column
    align-items: center

    @include media-min(570)
      flex-direction: row
      justify-content: space-between
      align-items: stretch
      flex-wrap: wrap

    .text-wrapper
      padding: 30px
      text-align: left

    h5
      margin-bottom: 15px

    p
      margin: 0
      width: 100%

    li
      width: 230px
      display: flex
      flex-direction: column
      justify-content: space-between
      background: #ffffff

      &:not(last-child)
        margin-bottom: 30px

      @include media-min($breakpoint)
        margin: 0

/*----------------------ABOUT US---------------------------------------*/

.about-us
  text-align: center
  padding: 100px 42px
  
  @include media-min($breakpoint)
    width: min(100%, 1050px)
    margin: 0 auto
    display: grid
    grid-template-columns: auto 333px
    grid-template-rows: 105px auto
    column-gap: 20px
    row-gap: 100px

  .header-container
    width: 330px
    margin: 0 auto
    margin-bottom: 100px

    @include media-min($breakpoint)
      width: 468px
      grid-row: 1/1
      grid-column: 1/-1

  h2
    padding: 0 36px
    margin-bottom: 10px

  p
    padding: 0 59px
    
    @include media-min($breakpoint)
      padding: 0

  .video
    margin: 0 auto
    width: 330px
    height: 442px
    background: url(../images/preview.jpg) center no-repeat
    position: relative
    margin-bottom: 52px

    @include media-min($breakpoint)
      margin: 0
      width: auto
    
    .filter
      width: 100%
      height: 100%
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%)

    &::before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      display: block
      width: 100px
      height: 100px
      background: url(../images/icons/play-btn.svg)
      transform: translateX(-50%) translateY(-50%)
    
  .text-column
    text-align: left
    width: 330px
    margin: 0 auto

    h2
      padding: 0
      width: 100%
    
    p
      width: 100%
      padding: 0
      padding-right: 27px
      margin-bottom: 50px 

    &__plans
      li
        display: grid
        grid-template-columns: 30px 273px
        grid-template-rows: 50px 24px
        column-gap: 20px
        row-gap: 5px

        h6
          grid-column: 2/3
      
        &:not(:last-child)
          margin-bottom: 30px

/*-----------------------PARTNERS------------------------------*/
.partners
  width: 100%
  padding: 132px
  padding-bottom: 87px
  margin: 0 auto
  margin-bottom: 200px
  position: relative

  @include media-min($breakpoint)
    width: min(100%, 1050px)
    padding: 0
    padding-top: 50px

  ul
    display: flex
    flex-direction: column
    align-items: center
    
    @include media-min($breakpoint)
      flex-direction: row
      justify-content: space-between
      padding: 50px 0

    li
      &:not(:last-child)
        margin-bottom: 60px

        @include media-min($breakpoint)
          margin: 0   

    .hooli
      width: 149px
      height: 50px
      @include media-min($breakpoint)
        width: 103px
        height: 34px

    .hat
      width: 149px
      height: 109px
      @include media-min($breakpoint)
        width: 102px
        height: 75px

    .lya
      width: 146px
      height: 99px
      @include media-min($breakpoint)
        width: 83px
        height: 59px

    .robot
      width: 149px
      height: 142px
      @include media-min($breakpoint)
        width: 76px
        height: 72px

    .aws
      width: 152px
      height: 91px
      @include media-min($breakpoint)
        width: 104px
        height: 62px

    .stripe     
      width: 149px
      height: 60px
      @include media-min($breakpoint)
        width: 103px
        height: 42px
  
.decorative-block
  @include media-min($breakpoint)
    position: absolute
    left: -500%
    top: 100%
    transform: translateY(77px)
    width: 1000%
    height: 77px
    background: $dark-background-color

        
.sub-form
  position: absolute
  left: 0
  top: 100%
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%)
  padding: 30px 40px
  z-index: 1

  @include media-min($breakpoint)
    width: 100%
    padding: 33px 50px
    display: flex
    justify-content: space-between
    align-items: center

  h3
    text-align: center
    color: $light-text-color
    margin-bottom: 30px
    
    @include media-min($breakpoint)
      float: left
      text-align: left
      width: 253px
      margin: 0  

  form
    width: 337px
    font-family: 'Montserrat'
    font-weight: 400
    font-size: 14px
    line-height: 28px
    letter-spacing: 0.2px
    color: $second-text-color
    
    @include media-min($breakpoint)
        width: 450px
        float: right
    
    input
      position: relative
      width: 100%
      border-radius: 5px
      border: none
      padding: 15px 20px

    button
      cursor: pointer
      position: absolute
      right: 0
      transform: translateX(-30px)
      border: none
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      background: $primary-color
      color: $light-text-color
      padding: 15px 22.5px
      
      @include media-min($breakpoint)
        transform: translateX(-50px)  

/*-----------------------CONTACTS-------------------------------------*/

.contacts
  width: 100%
  padding: 42px
  text-align: center
  background: #f3f3f3
  
  p
    padding: 0 23px
  
  @include media-min($breakpoint)
    padding-bottom: 155px

.contacts-list
  @include media-min($breakpoint)
    display: flex
    align-items: baseline

  li
    width: 100%
    padding: 50px 60px
    background: #ffffff

    img
      margin-bottom: 15px

    h6
      color: $text-color
    
    h5
      color: $text-color
      margin: 15px 0

    button
      font-family: 'Open Sans'
      font-style: normal
      font-weight: 700
      font-size: 14px
      line-height: 24px
      letter-spacing: 0.2px
      color: $primary-color
      border: 1px solid $primary-color
      border-radius: 5px
      padding: 10px 20px

    &:nth-child(2)
      background: $dark-background-color
      padding: 80px 60px
      
      h5
        color: $light-text-color
      
      h6
        color: $light-text-color
    
    &:not(:last-child)
      margin-bottom: 30px
      @include media-min($breakpoint)
        margin: 0
      