@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;900&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #252b42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.closed {
  display: none;
}
@media screen and (min-width: 1000px) {
  .closed {
    display: block;
  }
}

/*-----------------HEADER-------------------------------*/
.page-header {
  display: grid;
  align-items: center;
  grid-template-columns: 104px auto 72px 56px;
  padding: 35px;
  color: #252b42;
  box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
  .page-header {
    grid-template-columns: 104px minmax(20px, auto) 279px 96px minmax(20px, 164px);
    position: absolute;
    z-index: 11;
    width: 100%;
    max-width: 1322px;
    margin-left: 196px;
    padding: 0;
    padding-top: 35px;
    padding-right: 256px;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1443px) {
  .page-header {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.page-header h3 {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.page-header__menu-btn {
  justify-self: end;
  grid-column: 4/5;
  font: 0/0 serif;
  width: 23px;
  height: 14px;
  display: block;
  background: url(../images/icons/menu.svg);
}
@media screen and (min-width: 1000px) {
  .page-header__menu-btn {
    grid-column: 5/6;
  }
}
.page-header .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 3/4;
}
@media screen and (min-width: 1000px) {
  .page-header .icons {
    grid-column: 4/5;
    justify-content: flex-end;
  }
}
.page-header .icons .cart {
  width: 23px;
  height: 23px;
  background: url(../images/icons/cart.svg);
}
.page-header .icons .search {
  width: 24px;
  height: 24px;
  background: url(../images/icons/search.svg);
}
@media screen and (min-width: 1000px) {
  .page-header .icons .search {
    margin-right: 22px;
  }
}
.page-header .icons__item {
  display: block;
  font: 0/0 serif;
}
.page-header .nav {
  grid-column: 1/-1;
  margin-top: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  z-index: 10;
}
@media screen and (min-width: 1000px) {
  .page-header .nav {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
}
.page-header .nav__item {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .page-header .nav__item {
    display: inline;
  }
}
.page-header .nav__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  .page-header .nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 22px;
  }
}

/*-------------------MAIN BLOCK--------------------------------*/
.main-block {
  padding-top: 84px;
  width: 100%;
  background: url(../images/cover.png) no-repeat center;
  background-size: cover;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .main-block {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1000px) {
  .main-block {
    display: grid;
    grid-template-columns: repeat(2, minmax(470px, 509px));
    justify-items: left;
    -moz-column-gap: 2px;
         column-gap: 2px;
    padding-left: 196px;
    padding-right: 196px;
  }
}
.main-block__information {
  padding: 0 19px;
}
@media screen and (min-width: 1000px) {
  .main-block__information {
    padding: 0;
    text-align: left;
    align-self: center;
  }
}
.main-block__information h1 {
  max-width: 350px;
  font-family: "Matrel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 26px;
}
@media screen and (min-width: 1000px) {
  .main-block__information h1 {
    max-width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
  }
  .main-block__information h1 br {
    display: none;
  }
}
.main-block__information h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 376px;
  margin: 0 auto;
  margin-bottom: 35px;
}
@media screen and (min-width: 1000px) {
  .main-block__information h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
  }
}
.main-block .information__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 108px;
}
@media screen and (min-width: 1000px) {
  .main-block .information__buttons {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }
}
.main-block .information__buttons .get-quote {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 10px 36px;
  margin-bottom: 30px;
  border-radius: 37px;
  background: #784f33;
}
@media screen and (min-width: 1000px) {
  .main-block .information__buttons .get-quote {
    margin: 0;
    margin-right: 10px;
  }
}
.main-block .information__buttons .learn-more {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #784f33;
  padding: 10px 36px;
  border-radius: 37px;
  border: 1px solid #784f33;
  background: none;
}
.main-block .agent {
  width: 377px;
}
@media screen and (min-width: 1000px) {
  .main-block .agent {
    width: 509px;
  }
}

/*----------------PRACTICE AREAS-----------------------------*/
.practice {
  width: 330px;
  text-align: center;
  margin: 0 auto;
  padding: 145px 43px;
  padding-bottom: 100px;
}
@media screen and (min-width: 570px) {
  .practice {
    width: 430px;
    padding: 145px 0;
  }
}
@media screen and (min-width: 1000px) {
  .practice {
    width: 1050px;
    margin: 0 auto;
  }
}
.practice h2 {
  margin-bottom: 10px;
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
}
@media screen and (min-width: 1000px) {
  .practice h2 {
    width: 374px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.practice p {
  margin-bottom: 75px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
@media screen and (min-width: 1000px) {
  .practice p {
    width: 431px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1000px) {
  .practice-areas__categories {
    display: flex;
    justify-content: space-between;
  }
}
.practice-areas__categories li {
  border-radius: 5px;
  background: #f9f9f9;
  padding: 30px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  color: #252b42;
}
@media screen and (min-width: 1000px) {
  .practice-areas__categories li {
    width: 329px;
  }
}
.practice-areas__categories li img {
  margin-bottom: 10px;
}
.practice-areas__categories li h5 {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.practice-areas__categories li:nth-child(2) {
  background: #295c7a;
  color: #ffffff;
}
.practice-areas__categories li:not(last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  .practice-areas__categories li:not(last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

/*----------------------PRACTICE ADVICE-------------------------------*/
.practice-advice {
  background: #f3f3f3;
}
@media screen and (min-width: 1000px) {
  .practice-advice p {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .practice-advice__categories {
    display: flex;
    justify-content: space-between;
  }
}
.practice-advice__categories .text-wrapper {
  padding: 30px;
  text-align: left;
}
.practice-advice__categories h5 {
  margin-bottom: 15px;
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.practice-advice__categories p {
  margin: 0;
  width: 100%;
}
.practice-advice__categories li {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
}
.practice-advice__categories li:not(last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  .practice-advice__categories li {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */